* {
    margin: 0;
    padding: 0;
}

a {
    color: #363f31;
}

.popup {
    /* border: 1px solid red; */
    width: 700px;
    height: 50px;
    /* background-color: rgb(178, 228, 228); */
}

.hide {
    display: none;
}

.btn-popup {
    margin-bottom: 40px;
}

p {
    margin-bottom: 10px;
    font-weight: bolder;
    display: none;
}

.tools-box {
    display: flex;
    /* display: none; */
}

.tools-w {
    padding: 10px;
    margin: 10px;
    margin-left: 10px;
    border: 2px dashed rgb(143, 140, 140);
    width: 100%;
    max-width: 900px;
}

.tools {
    /* width: 900px; */
    background-color: rgb(222, 223, 223);
    border-radius: 4px;

    /* height: 50px; */
    display: flex;
    /* align-items: start; */
    /* align-items:baseline; */
    flex-wrap: wrap;
    margin-right: 6px;


}

button {
    display: block;
    word-wrap: break-word;
    transition: 0.4s linear;
    height:30px;
    width: 100%;
    max-width: 80px;
    /* width: 70px; */
    padding: 1px 4px;
    margin: 1px;
    font-size: 11px;
}

button:hover {
color: #faf768;
    background-color: rgb(142, 202, 202);
}

.light {
    max-width: 300px;
}

.tools-w-2 {
    display: flex;
    display: none;
}

.pick-up {
    display: flex;
    align-items: center;
}

.picked {
    margin: 5px;
    width: 140px;
    border: 1px dashed rgb(143, 140, 140);
    height: 25px;
    text-align: center;
    font-weight: bold;
}

.tools-w-col {
    display: flex;
    flex-direction: column;
}